page-insert {
    .block {
        position: relative;
        .deleteIcon {
          position: absolute !important;
          color: #ffffff !important;
          margin-left: 70% !important;
        }

        .deleteIcon:before {
          font-size: 30px !important;
        }
    }

    
    ion-slide.swiper-slide {
      left: 25%;
     }
  
    .slide-zoom {
      background: #e6e6e6;
    }

    .thumb-img {
      padding: 10px;
    }

}
